---
import BaseLayout from '@layouts/BaseLayout.astro';
import ContactSection from '@components/sections/ContactSection.astro';
---

<BaseLayout title="Contacto" description="Contáctame para oportunidades laborales, proyectos o colaboraciones.">
  <div class="pt-24">
    <ContactSection />
  </div>
</BaseLayout>
